#home {
    display: flex;

    align-items: start; 
    justify-content: center; 
    gap: 50px; 
    /* min-height: calc(100vh  -120.44px);  */

    padding: 5 5%; 

    scroll-margin-top: 9.375rem;
    box-sizing: border-box;
    }

#cta {
    width: 45%; 
    display: flex;
    flex-direction: column;
    gap: 28px;

}

#cta .title {
    font-size: 4rem;
    color: black;
}

#cta .title span {
    color: #F9A814;
}

#cta .description {
    font-size: 1.2rem;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 45%; 

    max-width: 800px;


}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }
    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    #banner {
        display: none;
    }
}